@model AracKiralama.Models.Sınıflar.HomePageDatas

@foreach (var set in Model.Settings)
{
    ViewBag.Title = set.Title;
    ViewBag.Description = set.Description;
    ViewBag.keywords = set.Keywords;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="main-banner header-text" id="top">
    <div class="Modern-Slider">
        <!-- Item -->
        @foreach (var car in Model.Arabalars)
        {
            <div class="item item-2">
                <div class="img-fill" style=" background-image:url('@car.Image'); background-size:cover;">
                    <div class="text-content">
                        <h6>@car.Title</h6>
                        <h4>@car.Marka <br> @car.Model</h4>
                        <p>@car.Description</p>
                        <a href="/Home/AraçDetay/@car.ArabaId" class="filled-button">Book now!</a>
                    </div>
                </div>
            </div>


        }
    </div>
</div>

<div class="services" style="background-image: url('../../Content/arabaalarrr.jpg'); background-size: cover; margin-top:1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <br />
                    <br />
                    <h2 style="color:aliceblue">Eklenen Son <em>Arabalarımız</em></h2>

                </div>
            </div>
            @foreach (var car in Model.SeciliArabalar)
            {
                <div class="col-md-4"  style="opacity:0.9">
                    <div class="service-item">
                        <img src="@car.Image" alt="">
                        <div class="down-content">
                            <h4>@car.Marka @car.Model</h4>
                            <div style="margin-bottom:10px;">
                                <span>from <sup>₺</sup>@car.Fiyat</span>
                            </div>
                            <p>@car.Description</p>

                            <p>@car.Yıl</p>
                            <a href="/Home/AraçDetay/@car.ArabaId" class="filled-button">Book Now</a>
                        </div>
                    </div>

                    <br>
                </div>
            }



        </div>
    </div>
</div>

@foreach (var set in Model.Settings)
{


    <div class="fun-facts" style="margin-top:1px">
        <div class="container">
            <div class="more-info-content">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-image">
                            <img src="~/Content/rent-a-car/assets/images/about-1-570x350.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <div class="right-content">
                            <span>Biz Kimiz?</span>
                            <h2>@set.Title<em> Hakkında Bilgi Edinin </em></h2>
                            <p>

                                @Html.Raw(set.Aboutus.Substring(0, Math.Min(set.Aboutus.Length, 356))) ...
                            </p>
                            <a href="/Home/Hakkımızda" class="filled-button">Daha Fazlası..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<div class="testimonials" style=" background-image: url('../../Content/araba.jpg'); background-size: cover; margin-top:1px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Hakkımızda <em>ne söylediler?</em></h2>
                    <span>Kullanıcıların Sitemizde Yaptığı Yorumlar</span>
                </div>
            </div>
            <div class="col-md-12">

                <div class="owl-testimonials owl-carousel" style="opacity:0.9">
                    @foreach (var cmnt in Model.Comments)
                    {
                        <div class="testimonial-item" >
                            <div class="inner-content">
                                <a href="/Home/KullanıcıDetayları/@cmnt.Kullanıcıid">

                                    <img src="@cmnt.Kullanıcıs.Image" alt="">
                                </a>
                                <span>@cmnt.Kullanıcıs.Ad</span>
                                <em>@cmnt.Kullanıcıs.Soyad</em>
                                <p>@cmnt.Created_at.ToString("dd.MM.yyy")</p>


                                <a href="/Home/AraçDetay/@cmnt.Arabaid"> <p style="color:chocolate">@cmnt.Arabalars.Marka @cmnt.Arabalars.Model </p></a>

                                <p>@cmnt.Comment</p>
                            </div>

                        </div>
                    }




                </div>
            </div>
        </div>
    </div>
</div>

