@using AracKiralama.Models.Sınıflar
@model List<SSS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Sıkça Sorulan Sorular</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Kullanıcılar/Index">Home</a></li>
                    <li class="breadcrumb-item active">Kiralamalar Sayfası</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">

    <div class="card-body">
        <div class="card">

            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4" style="width:auto">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Id</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Position</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Status</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Created_at</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Updated_at</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var faq in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@faq.id</td>
                                            <td>@faq.position</td>
                                            <td>@faq.status</td>
                                            <td>@faq.created_at.ToString("dd.MM.yyy")</td>
                                            <td>@faq.updated_at.ToString("dd.MM.yyy")</td>
                                            <td><a href="/SSS/SSSGetir/@faq.id" class="btn btn-warning">Güncelle </a></td>

                                        </tr>

                                    }


                                </tbody>

                            </table>


                        </div>
                    </div>

                </div>

            </div>
            <div class="card-body pad table-responsive" style="width:250px;">
                <a href="/SSS/SSSekle" class="btn btn-block btn-success">Yeni SSS Ekle </a>
            </div>

        </div>
    </div>
</section>




