@model AracKiralama.Models.Sınıflar.SSS
@{
    ViewBag.Title = "SSSekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>SSS Ekleme Sayfasına Hoşgeldiniz!</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="SSS/Index">SSS</a></li>
                    <li class="breadcrumb-item active">SSS Ekleme Sayfası</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<br />
<br />


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">SSS Ekle</h3>
    </div>

    <form role="form" method="post">
        <div class="card-body">
            @Html.LabelFor(x => x.position)
            @Html.TextBoxFor(x => x.position, new { @class = "form-control", Type= "number" })
            <br>

            @Html.LabelFor(x => x.soru)
            @Html.TextAreaFor(x => x.soru, new { @class = "form-control" })
            <br>

            @Html.LabelFor(x => x.cevap)
            @Html.TextAreaFor(x => x.cevap, new { @class = "form-control" })

           
            @Html.LabelFor(x => x.status)
            <select class="form-control" name="status">
                <option>True</option>
                <option>False</option>

            </select>

            <br>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Ekle</button>
        </div>
    </form>
</div>

