@using AracKiralama.Models.Sınıflar
@model List<Setting>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Setting Sayfasına Hoşgeldiniz!</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Setting/Index">Home</a></li>
                    <li class="breadcrumb-item active">Setting Sayfası</li>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="content">

    <div class="card-body">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Setting</h3>
            </div>
            <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4" style="width:auto">
                    <div class="row">
                        <div class="col-sm-12 col-md-6"></div>
                        <div class="col-sm-12 col-md-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_desc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Rendering engine: activate to sort column ascending" aria-sort="descending">Id</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Title</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Keywords</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Description</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Created_at</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Updated_at</th>
                                        <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var set in Model)
                                    {
                                        <tr role="row" class="odd">
                                            <td>@set.SettingId</td>
                                            <td>@set.Title</td>
                                            <td>@set.Keywords</td>
                                            <td>@set.Description</td>
                                        
                                            <td>@set.Created_At</td>
                                            <td>@set.Updated_at</td>
                                            <td><a href="/Setting/SettingGetir/@set.SettingId" class="btn btn-warning">Güncelle </a></td>
                                        </tr>

                                    }


                                </tbody>

                            </table>


                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</section>

