
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Araç Kiralama</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/Siteiconum.ico")">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/AdminPaneli/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/AdminPaneli/dist/css/adminlte.min.css">

    <link rel="stylesheet" href="~/Content/AdminPaneli/plugins/ekko-lightbox/ekko-lightbox.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    @Scripts.Render("~/bundles/ckeditor")
</head>
<body class="hold-transition sidebar-mini">
   
    <div class="wrapper">
       
        @Html.Partial("Header")
       
        @Html.Partial("Sidebar")
        <div class="content-wrapper">
           
            @RenderBody()
            
        </div>

        @Html.Partial("Footer")
       
    </div>

</body>
</html>
